<div style="margin: 0;">
	<div class="palete" id="move" style="background-color: #ed0000;position: absolute;border: 1px solid black;border-radius: 50%;"></div>
	<div class="fixed">
		<div class="palete pointer" style="background-color: #ed0000;"></div>
		<div class="palete pointer" style="background-color: #1ec105;"></div>
		<div class="palete pointer" style="background-color: #05abc1;"></div>
		<div class="palete pointer" style="background-color: #b205c1;"></div>
		<div class="palete pointer" style="background-color: #fff;"></div>
		<div class="palete pointer" style="background-color: #000;"></div>
		<div class="palete pointer" style="background-color: #8e4416;"></div>
		<div class="palete pointer" style="background-color: #f74a00;"></div>
		<div class="palete pointer" style="background-color: #030066;"></div>
		<div class="palete pointer" style="background-color: #ffe900;"></div>
		<div class="palete pointer" style="background-color: #0e7a00;"></div>
		<div class="palete pointer" style="background-color: #5e1b00;"></div>
		<div class="palete pointer" style="background-color: #cecece;"></div>
		<div class="pointer" style="background-color: #ed0000;" id="delete">X</div>
	</div>
	<div class="relative">
		<canvas id="canvas" style="display: block;">
			Your browser dosn`t support canvas!
		</canvas>
		<canvas id="canvas2" style="display: block;">
			Your browser dosn`t support canvas!
		</canvas>
	</div>
	
	
	
</div>
